.row {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  line-height: 2;

  .item-description {
    margin: 0 0 0 10px;
    display: flex;
    align-items: center;
  }

  img {
    width: 20px;
    height: 20px;
    margin: 0 5px;
  }

  i {
    position: absolute;
  }

  .arrow-right {
    border: solid rgba(63, 63, 63, 0.58);
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 2px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }

  .arrow-down {
    border: solid #3f3f3f;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 2px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
}


ul {
  list-style-type: none !important;
  margin: 0;
}
